<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>inTech Club</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>
<body>
    <header>
        <nav>
            <a href="#">Home</a>
            <a href="#">Contact</a>
            <a href="#">About</a>
        </nav>
    </header>

    <main>
	    <h1 id="test">Ron Swanson API</h1>
	    {% block main %}
	    {% endblock %}
    </main>

    <footer>
        <p>inTech Club&copy;</p>
    </footer>
    
    <script type="text/javascript" src="/static/main.js">
    </script>
</body>
</html>
